.top-bar, .top-bar ul {
  background-color: $grey;
}

.top-bar {
  .menu-text {
    color: $navigation-color;
  }
  .active-link {
    font-weight: bold;
  }
}

.menu>li>a{
  display: inline;
  padding: 5px;
}